- yay:
    - interception-caps2esc

- sudo:
    - link:
        /etc/interception/udevmon.d/caps2esc.yaml:
          path: caps2esc/caps2esc.yaml
          force: true

- sudo:
    - shell:
        - systemctl enable udevmon
        - systemctl start udevmon
