- defaults:
    link:
      create: true
      relink: true

- sudo:
    - link:
        /etc/pacman.conf:
          force: true
        /etc/interception/udevmon.d/caps2esc.yaml:
          path: caps2esc/caps2esc.yaml
          force: true

- shell:
    - command: yay --version || rm -rf /tmp/yay && git clone https://aur.archlinux.org/yay.git /tmp/yay && cd /tmp/yay && makepkg -si --noconfirm
      description: "Install yay"

- yay:
    - man-db
    - amd-ucode
    - vim
    - git
    - github-cli
    - wget
    - curl
    # - zsh
    # - fish
    # - nushell
    - xonsh # NOTE: look into installing with `mamba`. `uv` doesn't work. `pipx` works ok if add xonsh install path to /etc/shells. `yay` has to `--break-system-packages`
    - uv # Python package manager
    # - poetry
    - eza
    - bat
    - yazi
    - fastfetch
    - starship
    - fd
    - fzf
    - ripgrep
    - zoxide
    - neovim
    - nodejs
    - npm
    - networkmanager
    - openssh
    - xclip
    - unzip
    - zstd
    - ttf-jetbrains-mono-nerd
    - ttf-nerd-fonts-symbols
    - packagekit
    # - tmux
    - wezterm
    # - kitty
    # - konsole
    - brave-bin
    # - freecad
    # - inkscape
    # - gimp
    - obsidian
    - proton-vpn-gtk-app
    - interception-caps2esc

- sudo:
    - shell:
        - systemctl enable udevmon
        - systemctl start udevmon

- link:
    ~/.gitconfig:
    ~/.bashrc:
    # ~/.zshrc:
    # ~/.config/fish:
    # ~/.config/nushell:
    ~/.config/xonsh:
    ~/.config/bat:
    ~/.config/yazi:
    ~/.config/fastfetch:
    ~/.config/starship.toml:
    ~/.config/nvim:
    # ~/.config/helix:
    ~/.config/wezterm:
    # ~/.config/kitty:
    # ~/.config/tmux:
    # ~/.config/pypoetry:
    ~/Pictures/wallpapers:

- shell:
    - gh auth login
    - git remote set-url origin git@github.com:kjmcnamara1/dotfiles
