{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

echo
echo "--------------------------------------------------------------------------------"
echo "*** Wezterm"
echo "--------------------------------------------------------------------------------"

yay -S --noconfirm wezterm
{{- else if eq .chezmoi.os "windows" -}}
scoop install wezterm
reg import "C:\Users\kjmcn\scoop\apps\wezterm\current\install-context.reg"
{{ end }}
