[submodule "modules\neovim\nvim"]
    path = modules\neovim\nvim
    url = git@github.com:kjmcnamara1/nvim.git
    ignore = dirty
[submodule "modules/nushell/.config/nushell"]
    path = modules/nushell/.config/nushell
    url = git@github.com:kjmcnamara1/nushell.git
    ignore = dirty
[submodule "dotbot"]
    path = meta/dotbot
    url = https://github.com/anishathalye/dotbot
    ignore = dirty
[submodule "plugins/dotbot-sudo"]
    path = meta/plugins/dotbot-sudo
    url = https://github.com/DrDynamic/dotbot-sudo.git
    ignore = dirty
[submodule "meta/plugins/dotbot-yay"]
	path = meta/plugins/dotbot-yay
	url = https://github.com/oxson/dotbot-yay
    ignore = dirty