[core]
  editor = nvim
  pager = delta

[user]
	name = Kevin McNamara
	email = kevin.j.mcnamara+tech@proton.me

[pull]
  rebase = false

[push]
  autoSetupRemote = true

[commit]
  verbose = true

[merge]
  ; conflictstyle = zdiff3
  tool = nvimdiff

[mergetool]
  prompt = false
  ; keepBackup = false

[mergetool "diffview"]
  cmd = nvim -n -c "DiffviewOpen" "$MERGE"

[mergetool "nvimdiff"]
  layout = "LOCAL,BASE,REMOTE / MERGED"

[submodule]
  recurse = true

[init]
  defaultBranch = main

[interactive]
  diffFilter = delta --color-only

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
	helper = !'{{ .chezmoi.homeDir }}/scoop/apps/gh/current/bin/gh.exe' auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
	helper = !'{{ .chezmoi.homeDir }}/scoop/apps/gh/current/bin/gh.exe' auth git-credential

[delta]
  syntax-theme = Nord
  hyprlinks = true
  navigate = true
  dark = true
  side-by-side = true
