- defaults:
    link:
      create: true
      relink: true

- clean:
    - ~
    - ~/.config
    - ~/Pictures

- included:
    - .meta/configs/git.yaml

- yay:
    - uv # Python package manager
    - eza
    - fd
    - fzf
    - ripgrep
    - zoxide
    - figlet
    - figlet-fonts-extra
    - unzip
    - zstd

- included:
    - .meta/configs/bash.yaml
    - .meta/configs/bat.yaml
    - .meta/configs/fastfetch.yaml
    - .meta/configs/fonts.yaml
    - .meta/configs/ipython.yaml
    # - .meta/configs/neovim.yaml
    - .meta/configs/starship.yaml
    # - .meta/configs/wezterm.yaml
    - .meta/configs/xonsh.yaml
    - .meta/configs/wallpaper.yaml
    # - .meta/configs/hyprland.yaml
    # - .meta/configs/onedrive.yaml
