- defaults:
    link:
      create: true
      relink: true

# - clean:
#     - ~
#     - ~/.config
#     - ~/Pictures

- link:
    ~/Pictures/profile-crop.jpg:
      force: true

- included:
    - .meta/configs/yay.yaml
    - .meta/configs/git.yaml

- yay:
    - figlet # write big font in terminal
    - figlet-fonts-extra
    - zen-browser-bin
    - firefox-pwa-bin # progressive web app for zen browser
    - proton-vpn-gtk-app
    - proton-pass-bin
    - proton-mail-bin

- included:
    - .meta/configs/bash.yaml
    - .meta/configs/bat.yaml
    - .meta/configs/fastfetch.yaml
    - .meta/configs/yazi.yaml
    - .meta/configs/fonts.yaml
    - .meta/configs/ipython.yaml
    - .meta/configs/neovim.yaml
    - .meta/configs/starship.yaml
    - .meta/configs/kitty.yaml
    - .meta/configs/xonsh.yaml
    - .meta/configs/wallpaper.yaml
    # - .meta/configs/kde.yaml
    # - .meta/configs/hyprland.yaml
    # - .meta/configs/onedrive.yaml

- sudo:
    - shell:
        - systemctl enable NetworkManager
        - systemctl enable bluetooth
