- link:
    ~/.gitconfig:
      path: git/gitconfig
      force: true
    ~/.config/gh:
      path: git/gh
      force: true

- yay:
    - github-cli
    - github-desktop-bin
# Authenticate with GitHub and change dotfiles repo to use ssh
# - shell:
#     - command: gh auth login
#       description: Authenticate with GitHub
#       stdin: true
#       stdout: true
#       stderr: true
#     - [
#         git remote set-url origin git@github.com:kjmcnamara1/dotfiles,
#         Change dotfiles repo to use ssh,
#       ]
