- link:
    ~/.gitconfig:

- yay:
    - github-cli

- shell:
    - command: gh auth login
      description: Authenticate with GitHub
      stdin: true
      stdout: true
      stderr: true
    - [
        git remote set-url origin git@github.com:kjmcnamara1/dotfiles,
        Change dotfiles repo to use ssh,
      ]
