- defaults:
    link:
      create: true
      relink: true

- included:
    - .meta/configs/yay.yaml
    - .meta/configs/caps2esc.yaml

- yay:
    - uv # Python package manager
    - eza
    - fd
    - fzf
    - ripgrep
    - zoxide
    # - networkmanager
    # - nm-applet
    # - xclip
    - unzip
    - zstd
    # - packagekit
    - brave-bin
    # - freecad
    # - inkscape
    # - gimp
    # - obsidian
    # - proton-vpn-gtk-app

- included:
    - .meta/configs/bash.yaml
    - .meta/configs/bat.yaml
    - .meta/configs/fastfetch.yaml
    - .meta/configs/fonts.yaml
    - .meta/configs/git.yaml
    - .meta/configs/hyprland.yaml
    - .meta/configs/ipython.yaml
    - .meta/configs/neovim.yaml
    - .meta/configs/onedrive.yaml
    - .meta/configs/starship.yaml
    - .meta/configs/wallpaper.yaml
    - .meta/configs/wezterm.yaml
    - .meta/configs/xonsh.yaml
