- defaults:
    link:
      create: true
      relink: true

# - shell:
#     - systemctl enable NetworkManager # BUG: fails

- included:
    - .meta/configs/yay.yaml
    - .meta/configs/caps2esc.yaml
    - .meta/configs/git.yaml

- yay:
    - figlet # write big font in terminal
    - figlet-fonts-extra
    # - network-manager-applet
    # - nm-connection-editor
    # - overskride # gtk4 bluetooth connections manager
    # - blueman # simple gtk bluetooth manager
    # - blueberry # gtk bluetooth manager
    # - xclip
    # - packagekit
    # - brave-bin
    - zen-browser-bin
    - firefox-pwa-bin # progressive web app for zen browser
    # - freecad
    # - inkscape
    # - gimp
    # - obsidian
    - proton-vpn-gtk-app
    - proton-pass-bin
    - proton-mail-bin

- included:
    - .meta/configs/bash.yaml
    - .meta/configs/bat.yaml
    - .meta/configs/fastfetch.yaml
    - .meta/configs/yazi.yaml
    - .meta/configs/fonts.yaml
    - .meta/configs/ipython.yaml
    - .meta/configs/neovim.yaml
    - .meta/configs/starship.yaml
    - .meta/configs/wezterm.yaml
    - .meta/configs/xonsh.yaml
    - .meta/configs/wallpaper.yaml
    # - .meta/configs/hyprland.yaml
    # - .meta/configs/onedrive.yaml

- sudo:
    - shell:
        - systemctl enable NetworkManager
        - systemctl enable bluetooth
