- yay:
    - cups
    - cups-filters
    - cups-pdf
    - cups-pk-helper
    - libcups
    - avahi
    - nss-mdns
    - system-config-printer # GTK gui app

- sudo:
    - link:
        /etc/nsswitch.conf:
          path: system/nsswitch.conf
          force: true

- shell:
    - sudo systemctl enable --now cups avahi-daemon
