- yay:
    - sddm
    - sddm-theme-corners-git # includes dependencies

- link:
    ~/.face.icon: profile-crop.jpg

- shell:
    - setfacl -m u:sddm:x ~/
    - setfacl -m u:sddm:r ~/.face.icon
    - sudo cp ~/dotfiles/system/corners/theme.conf.user /usr/share/sddm/themes/corners
    - sudo cp ~/wallpapers/mountain-valley-art.png /usr/share/sddm/themes/corners/backgrounds

- sudo:
    - link:
        /etc/sddm.conf: system/sddm.conf
        # /usr/share/sddm/themes/corners/theme.conf.user: system/corners/theme.conf.user
        # /usr/share/sddm/themes/corners/backgrounds/mountain-valley-art.png: wallpapers/mountain-valley-art.png
    - shell:
        - systemctl enable sddm
