# NOTE: look into installing with `mamba`. `uv` doesn't work. `pipx` works ok if add xonsh install path to /etc/shells. `yay` has to `--break-system-packages`
# https://github.com/anki-code/xonsh-install

- yay:
    - python-pipx
    - carapace-bin

- shell:
    - pipx install xonsh[full]
    # - pipx ensurepath
    - grep -i xonsh /etc/shells || (which xonsh | sudo tee -a /etc/shells)

    # These all failed
    # - chsh -s $(which xonsh)
    - xonsh -c "xpip install xontrib-vox"
    - xonsh -c "xpip install xontrib-prompt-starship"
    - xonsh -c "xpip install xontrib-abbrevs"
    - xonsh -c "xpip install xontrib-back2dir"
    - xonsh -c "xpip install xontrib-hist-navigator"

- link:
    ~/.config/xonsh:
      force: true
