{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

echo
echo "--------------------------------------------------------------------------------"
echo "*** Xonsh"
echo "--------------------------------------------------------------------------------"

yay -S --noconfirm uv carapace-bin

# NOTE: use python 3.11 - interpolated env vars in f-strings don't work in python 3.12+
# see https://github.com/xonsh/xonsh/issues/5166
sudo \
UV_TOOL_DIR=/usr/lib/uv/tools \
UV_PYTHON_INSTALL_DIR=/usr/lib/uv/python \
UV_TOOL_BIN_DIR=/usr/bin \
uv tool install xonsh[full] --python 3.11 --with \
  xontrib-vox, \
  xontrib-abbrevs, \
  xontrib-back2dir, \
  xontrib-prompt-starship, \
  xontrib-fish-completer, \
  xontrib-hist-navigator, \
  xontrib-term-integrations, \
  xontrib-kitty, \
  xontrib-fzf-widgets

grep -q "^$(which xonsh)$" /etc/shells || echo "$(which xonsh)" | sudo tee -a /etc/shells

{{- else if eq .chezmoi.os "windows" -}}
scoop install carapace-bin
pip install 'xonsh[full]'
pip install xontrib-vox
pip install xontrib-abbrevs
pip install xontrib-back2dir
pip install xontrib-prompt-starship
pip install xontrib-fish-completer
pip install xontrib-hist-navigator
pip install xontrib-term-integrations
pip install xontrib-kitty
{{ end }}
