@define-color foreground #E5E9F0;
@define-color background #2E3440;
@define-color cursor #434C5E;

@define-color color0  #3B4252;
@define-color color1  #BF616A;
@define-color color2  #A3BE8C;
@define-color color3  #EBCB8B;
@define-color color4  #5E81AC;
@define-color color5  #B48EAD;
@define-color color6  #88C0D0;
@define-color color7  #D8DEE9;
@define-color color8  #4C566A;
@define-color color9  #D08770;
@define-color color10 #C1D3B2;
@define-color color11 #F2DCB1;
@define-color color12 #81A1C1;
@define-color color13 #CDB3C8;
@define-color color14 #8FBCBB;
@define-color color15 #ECEFF4;

@define-color window_bg_color #2E344080;
@define-color accent_bg_color #434C5E;
@define-color theme_fg_color #E5E9F0;
@define-color error_bg_color #BF616A;
@define-color error_fg_color #F2DCB1;
