{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

echo
echo "--------------------------------------------------------------------------------"
echo "*** Fonts"
echo "--------------------------------------------------------------------------------"

packages=(
  figlet # write big font in terminal
  figlet-fonts-extra
  ttf-jetbrains-mono-nerd
  ttf-nerd-fonts-symbols
  ## ttf-firacode-nerd
  noto-fonts-emoji
)

yay -S --needed --noconfirm "${packages[@]}"

{{ end -}}
