{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

echo
echo "--------------------------------------------------------------------------------"
echo "*** Shell Tools"
echo "--------------------------------------------------------------------------------"

packages=(
  man-db
  amd-ucode
  vim
  git
  wget
  curl
  openssh

  pv
  tldr
  jq
  eza
  fd
  fzf
  ripgrep
  zoxide

  go
  python
  uv

  git-delta

  unzip
  7zip
  zstd

  ntfs-3g
  nfs-utils
  age
)

yay -S --needed --noconfirm "${packages[@]}"

{{ end -}}
