{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

echo
echo "--------------------------------------------------------------------------------"
echo "*** Pipewire"
echo "--------------------------------------------------------------------------------"

packages=(
  pipewire
  wireplumber
  pipewire-pulse
  pipewire-alsa
)

yay -S --noconfirm "${packages[@]}"

systemctl --user enable pipewire wireplumber pipewire-pulse
{{- end }}
