{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

echo
echo "--------------------------------------------------------------------------------"
echo "*** Printer"
echo "--------------------------------------------------------------------------------"

packages=(
  cups
  cups-filters
  cups-pdf
  cups-pk-helper
  libcups
  avahi
  nss-mdns
  system-config-printer # GTK gui app
)

yay -S --needed --noconfirm "${packages[@]}"

sudo systemctl enable --now cups avahi-daemon
{{ end }}
