{{- if and (eq .chezmoi.os "linux") (ne .chezmoi.hostname "snow") -}}
#! /usr/bin/env bash

echo
echo "--------------------------------------------------------------------------------"
echo "*** GUIs"
echo "--------------------------------------------------------------------------------"

packages=(
vlc
brave-bin
proton-pass-bin
)

yay -S --needed --noconfirm "${packages[@]}"

{{ end -}}
