{{- if and false (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") -}}
#! /usr/bin/env bash

echo
echo "--------------------------------------------------------------------------------"
echo "*** Paru (AUR Wrapper)"
echo "--------------------------------------------------------------------------------"

paru --version || (
  echo "Installing paru..."
  sudo rm -rf /tmp/paru
  git clone https://aur.archlinux.org/paru-bin.git /tmp/paru
  cd /tmp/paru
  makepkg -si --noconfirm
)
{{- end }}
