{{- $machine := get .machines .chezmoi.hostname -}}
{{ if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

{{ range $machine.packages -}}
yay -S --noconfirm {{ . | quote }}
{{ end -}}
sudo systemctl enable NetworkManager
sudo systemctl enable bluetooth
{{ if eq .chezmoi.hostname "angel" }}
sudo systemctl mask tpm2.target
sudo timedatectl set-local-rtc 1
{{ end -}}
{{ end }}
