{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

echo
echo "--------------------------------------------------------------------------------"
echo "*** Post Install"
echo "--------------------------------------------------------------------------------"

sudo systemctl enable NetworkManager bluetooth

packages=(
  go
  uv
  pv
  tldr
  jq
  eza
  fd
  fzf
  ripgrep
  zoxide
  unzip
  7zip
  zstd
  git-delta
  figlet # write big font in terminal
  figlet-fonts-extra
  vlc # video player
  brave-bin
  proton-pass-bin
  nerd-fonts
  ## ttf-jetbrains-mono-nerd
  ## ttf-nerd-fonts-symbols
  ## ttf-firacode-nerd
  noto-fonts-emoji
)

yay -S --noconfirm "${packages[@]}"

{{ if eq .chezmoi.hostname "angel" }}
sudo systemctl mask tpm2.target
sudo timedatectl set-local-rtc 1
{{ end -}}
{{ end }}
