{{- $machine := get .machines .chezmoi.hostname -}}
{{ if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

{{ if has "pipewire" $machine.audio -}}
{{ range .packages.pipewire -}}
yay -S --noconfirm {{ . | quote }}
{{ end -}}
sudo systemctl --user enable pipewire wireplumber pipewire-pulse
{{ end -}}
{{ end }}
