{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

echo
echo "--------------------------------------------------------------------------------"
echo "*** Post Install"
echo "--------------------------------------------------------------------------------"

sudo systemctl enable NetworkManager bluetooth

packages=(
  go
  uv
  pv
  tldr
  jq
  eza
  fd
  fzf
  ripgrep
  zoxide
  unzip
  7zip
  zstd
  git-delta
  figlet # write big font in terminal
  figlet-fonts-extra
  nerd-fonts
  ## ttf-jetbrains-mono-nerd
  ## ttf-nerd-fonts-symbols
  ## ttf-firacode-nerd
  noto-fonts-emoji
)

yay -S --noconfirm "${packages[@]}"

{{ if eq .chezmoi.hostname "angel" }}
sudo systemctl mask tpm2.target
sudo timedatectl set-local-rtc 1

{{ end -}}

{{ if ne .chezmoi.hostname "snow" }}
## gui applications
yay -S --noconfirm vlc brave-bin proton-pass-bin
{{ end -}}

{{- else if eq .chezmoi.os "windows" -}}
scoop install vim git wget curlie python openssh age chezmoi winbtrfs-np
scoop install go uv jq eza fd fzf ripgrep zoxide unzip 7zip zstd delta figlet vlc brave
scoop install clink coreutils gcc megasync peazip vcredist
# scoop install ps3-system-software rpcs3
scoop bucket add nerd-fonts
scoop install JetBrainsMono-NF
{{ end }}
