{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

echo
echo "--------------------------------------------------------------------------------"
echo "*** Pipewire"
echo "--------------------------------------------------------------------------------"

yay -S --noconfirm pipewire
yay -S --noconfirm wireplumber
yay -S --noconfirm pipewire-pulse
yay -S --noconfirm pipewire-alsa

sudo systemctl --user enable pipewire wireplumber pipewire-pulse
{{- end }}
