{{- $machine := get .machines .chezmoi.hostname -}}
{{ if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash
{{ if has "hyprland" $machine.desktop }}
{{ range .packages.hyprland -}}
yay -S --noconfirm {{ . | quote }}
{{ end }}
{{ range .packages.hyprpm -}}
yay -S --noconfirm {{ . | quote }}
{{ end -}}
hyprpm add https://github.com/hyprwm/hyprland-plugins
hyprpm add https://github.com/outfoxxed/hy3
hyprpm update
hyprpm enable hyprexpo
hyprpm enable hy3
hyprpm reload
{{ end -}}
{{ if has "cosmic" $machine.desktop }}
{{ range .packages.cosmic -}}
yay -S --noconfirm {{ . | quote }}
{{ end -}}
{{ end -}}
{{ end }}
