{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

echo
echo "--------------------------------------------------------------------------------"
echo "*** OnlyOffice"
echo "--------------------------------------------------------------------------------"

yay -S --noconfirm onlyoffice-bin

xdg-mime default onlyoffice-bin.desktop application/pdf
{{- end }}
