{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

echo
echo "--------------------------------------------------------------------------------"
echo "*** Post Install"
echo "--------------------------------------------------------------------------------"

sudo systemctl enable NetworkManager
sudo systemctl enable bluetooth

yay -S --noconfirm uv
yay -S --noconfirm pv
yay -S --noconfirm tldr
yay -S --noconfirm jq
yay -S --noconfirm eza
yay -S --noconfirm fd
yay -S --noconfirm fzf
yay -S --noconfirm ripgrep
yay -S --noconfirm zoxide
yay -S --noconfirm unzip
yay -S --noconfirm 7zip
yay -S --noconfirm zstd
yay -S --noconfirm git-delta
yay -S --noconfirm figlet # write big font in terminal
yay -S --noconfirm figlet-fonts-extra
yay -S --noconfirm vlc # video player
yay -S --noconfirm brave-bin
yay -S --noconfirm proton-pass-bin

yay -S --noconfirm ttf-jetbrains-mono-nerd
yay -S --noconfirm ttf-nerd-fonts-symbols
yay -S --noconfirm ttf-firacode-nerd

{{ if eq .chezmoi.hostname "angel" }}
sudo systemctl mask tpm2.target
sudo timedatectl set-local-rtc 1
{{ end -}}
{{ end }}
