{{- if or (eq .opt.packageManager "yay") (eq .opt.packageManager "paru") -}}
#! /usr/bin/env bash

package_manager={{ .opt.packageManager }}

echo
echo "--------------------------------------------------------------------------------"
echo "*** $package_manager (AUR Wrapper)"
echo "--------------------------------------------------------------------------------"

$package_manager --version || (
  echo "Installing $package_manager..."
  sudo rm -rf /tmp/$package_manager
  git clone https://aur.archlinux.org/$package_manager-bin.git /tmp/$package_manager
  cd /tmp/$package_manager
  makepkg -si --noconfirm
)
{{- else if eq .opt.packageManager "scoop" -}}
echo ""
echo "--------------------------------------------------------------------------------"
echo "*** Scoop (Windows package manager)"
echo "--------------------------------------------------------------------------------"

scoop -v
if (-not $?) {
    Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
    Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression
  }
{{- end }}
