{{- if or (eq .opt.packageManager "yay") (eq .opt.packageManager "paru") -}}
#! /usr/bin/env bash

echo
echo "--------------------------------------------------------------------------------"
echo "*** Chaotic-AUR & Yay"
echo "--------------------------------------------------------------------------------"

sudo pacman-key --recv-key 3056513887B78AEB --keyserver keyserver.ubuntu.com
sudo pacman-key --lsign-key 3056513887B78AEB

sudo pacman -U 'https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-keyring.pkg.tar.zst'
sudo pacman -U 'https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-mirrorlist.pkg.tar.zst'

if ! grep -q "\[chaotic-aur\]" /etc/pacman.conf; then
  cat << CHAOTIC | sudo tee -a /etc/pacman.conf

[chaotic-aur]
Include = /etc/pacman.d/chaotic-mirrorlist
CHAOTIC
fi

sudo pacman -Syu --noconfirm yay

{{- else if eq .opt.packageManager "scoop" -}}
echo ""
echo "--------------------------------------------------------------------------------"
echo "*** Scoop (Windows package manager)"
echo "--------------------------------------------------------------------------------"

scoop -v
if (-not $?) {
    Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
    Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression
  }
{{- end }}
