{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

source ../../scripts/configure-package-manager.sh

{{- else if eq .opt.packageManager "scoop" -}}
echo ""
echo "--------------------------------------------------------------------------------"
echo "*** Scoop (Windows package manager)"
echo "--------------------------------------------------------------------------------"

scoop -v
if (-not $?) {
    Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
    Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression
  }
{{- end }}
