{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

echo
echo "--------------------------------------------------------------------------------"
echo "*** Shell Tools"
echo "--------------------------------------------------------------------------------"

packages=(
  pv
  tldr
  jq
  eza
  fd
  fzf
  ripgrep
  zoxide

  go
  uv

  git-delta

  unzip
  7zip
  zstd
)

yay -S --needed --noconfirm "${packages[@]}"

{{ end -}}
