{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

echo "--------------------------------------------------------------------------------"
echo "*** Ipython"
echo "--------------------------------------------------------------------------------"

yay -S --noconfirm ipython python-ipykernel
yay -S --noconfirm python-pandas
{{- else if eq .chezmoi.os "windows" -}}
pip install ipython
pip install ipykernel
pip install pandas
{{ end }}
