{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

echo
echo "--------------------------------------------------------------------------------"
echo "*** Starship"
echo "--------------------------------------------------------------------------------"

yay -S --noconfirm starship
{{- else if eq .chezmoi.os "windows" -}}
scoop install starship
{{ end }}
