# ░█░█░█▀█░█▀▄░▀█▀░█▀█░█▀▄░█░░░█▀▀░█▀▀
# ░▀▄▀░█▀█░█▀▄░░█░░█▀█░█▀▄░█░░░█▀▀░▀▀█
# ░░▀░░▀░▀░▀░▀░▀▀▀░▀░▀░▀▀░░▀▀▀░▀▀▀░▀▀▀

$nerdFont = "JetBrainsMono Nerd Font"

# Scripts directory
$hyprScripts = ~/.config/hypr/scripts

# $mainTerminal = $weztermCommand
# $mainTerminal = wezterm start
# $mainTerminal = foot
$mainTerminal = kitty
# $scratchpadTerminal = kitty
# $tuiTerminal = alacritty

# Assign apps
$editor = nvim
$files = yazi
$altFiles = thunar
# $logout = wleave || wlogout -s -b 6 -c 0 -r 0 -m 0 --protocol layer-shell # exit
# $powermenu = wlogout -b 5 -r 0 -c 0 -s --protocol layer-shell -l ~/.config/wlogout/cosmic.layout -C ~/.config/wlogout/cosmic.style.css
$powermenu = ~/.config/rofi/scripts/powermenu_t2

# ░█▄█░█▀█░█▀█░▀█▀░▀█▀░█▀█░█▀▄░█▀▀
# ░█░█░█░█░█░█░░█░░░█░░█░█░█▀▄░▀▀█
# ░▀░▀░▀▀▀░▀░▀░▀▀▀░░▀░░▀▀▀░▀░▀░▀▀▀

monitor = ,preferred,auto,auto


# ░█░█░▀█▀░█▀█░█▀▄░█▀█░█░█░░░█▀▄░█░█░█░░░█▀▀░█▀▀
# ░█▄█░░█░░█░█░█░█░█░█░█▄█░░░█▀▄░█░█░█░░░█▀▀░▀▀█
# ░▀░▀░▀▀▀░▀░▀░▀▀░░▀▀▀░▀░▀░░░▀░▀░▀▀▀░▀▀▀░▀▀▀░▀▀▀

# See https://wiki.hyprland.org/Configuring/Window-Rules/

# System Mission Center
windowrule = float, class:(io.missioncenter.MissionCenter)
windowrule = pin, class:(io.missioncenter.MissionCenter)
windowrule = center, class:(io.missioncenter.MissionCenter)

# Mousam Weather App
windowrule = float, class:(io.github.amit9838.mousam)
# windowrule = size 980 720, class:(io.github.amit9838.mousam)
# windowrule = center, class:(io.github.amit9838.mousam)
# windowrule = move 0 -100%, class:(io.github.amit9838.mousam)

# Hyprland Share Picker
windowrule = float, class:(hyprland-share-picker)
windowrule = pin, class:(hyprland-share-picker)
windowrule = center, title:class:(hyprland-share-picker)
windowrule = size 600 400,class:(hyprland-share-picker)

# Browser Picture in Picture
$pip_x_pad = $(hyprctl getoption general:gaps_out -j | jq -r '.custom | split(" ")[1] | tonumber * 2')
windowrule = float, title:^(Picture-in-Picture)$
windowrule = pin, title:^(Picture-in-Picture)$
windowrule = size 20% 20%, title:^(Picture-in-Picture)$
windowrule = move onscreen 100%-w-30 100%-w-30, title:^(Picture-in-Picture)$
windowrule = noinitialfocus, title:^(Picture-in-Picture)$

# NetworkManager Connection Editor
windowrule = float, class:(nm-connection-editor)

# Bluetooth Manager
windowrule = float, class:(blueberry.py)
windowrule = float, class:(Overskride)

# Audio controls
windowrule = float, class:(com.saivert.pwvucontrol)

# Settings
windowrule = float, class:(nwg-look)
windowrule = float, class:(nwg-displays)

# Thunar File Operation Progress
windowrule = float, class:(thunar),title:^(File Operation Progress)$

# ActiveWindowInfo in nvim
windowrule = float, class:^(ActiveWindowInfo)$
windowrule = size 600 800, class:^(ActiveWindowInfo)$
windowrule = center, class:^(ActiveWindowInfo)$
# windowrule = stayfocused, class:^(ActiveWindowInfo)$

# Settings TUIs
windowrule = float, title:(impala)
windowrule = float, title:(bluetui)
windowrule = float, title:(wiremix)
windowrule = float, title:(hyprmon)

# Yay/Pacman Update
windowrule = float, class:^(update)$
windowrule = center, class:^(update)$

# Gaming
windowrule = fullscreen, class:steam_app_default
windowrule = idleinhibit always, class:steam_app_default

# Idle inhibit all fullscreen windows
windowrule = idleinhibit always, fullscreen:1


# ░▀█▀░█▀█░█▀▀░█░░░█░█░█▀▄░█▀▀
# ░░█░░█░█░█░░░█░░░█░█░█░█░█▀▀
# ░▀▀▀░▀░▀░▀▀▀░▀▀▀░▀▀▀░▀▀░░▀▀▀

# General
source = colors/wallust.conf
source = conf/env.conf
source = conf/autostart.conf
source = conf/input.conf
source = conf/cursor.conf
source = conf/appearance.conf
source = conf/keybindings.conf


# Bar
source = conf/bar/waybar.conf

# Notifications
source = conf/notification/mako.conf

# Menu
{{- if eq .chezmoi.hostname "muse" }}
source = conf/menu/rofi.conf
{{- else if eq .chezmoi.hostname "angel" }}
source = conf/menu/walker.conf
{{- end }}

# On Screen Display
source = conf/osd/swayosd.conf

# Wallpaper
source = conf/wallpaper/waypaper.conf

# Workspace binds
source = conf/workspace.conf

# Generated by nwg-displays
source = monitors.conf
{{- if eq .chezmoi.hostname "angel" }}
source = workspaces.conf
{{- end }}

# source = plugins/hyprscrolling.conf

# debug {
#   overlay = true
# }

