source = colors/wallust.conf

# ░█░█░█▀█░█▀▄░▀█▀░█▀█░█▀▄░█░░░█▀▀░█▀▀
# ░▀▄▀░█▀█░█▀▄░░█░░█▀█░█▀▄░█░░░█▀▀░▀▀█
# ░░▀░░▀░▀░▀░▀░▀▀▀░▀░▀░▀▀░░▀▀▀░▀▀▀░▀▀▀

# Main modifier
$mainMod = SUPER # super / meta / windows key

# Scripts directory
$scriptsDir = ~/.config/hypr/scripts

# HACK: wezterm fix so I don't have to use wezterm-git
# https://github.com/wez/wezterm/issues/5103#issuecomment-2078555510
# $wez = [float;tile] wezterm start --always-new-process

# Just use wezterm-git
$wez = wezterm start

# Assign apps
$alt_term = alacritty
$term1 = ghostty
$term2 = $wez
$term = $term2
$editor = code
$file1 = $wez --class=yazi -e yazi
$file2 = thunar
$browser = brave --ozone-platform=wayland --profile-directory="Default"
$alt_browser = zen-browser
$menu = ulauncher || ~/.config/rofi/scripts/launcher_t2
# $logout = wleave || wlogout -s -b 6 -c 0 -r 0 -m 0 --protocol layer-shell # exit
# $powermenu = wlogout -b 5 -r 0 -c 0 -s --protocol layer-shell -l ~/.config/wlogout/cosmic.layout -C ~/.config/wlogout/cosmic.style.css
$powermenu = ~/.config/rofi/scripts/powermenu_t2
$lock = hyprlock # swaylock


# ░█▀▀░█▀█░█░█
# ░█▀▀░█░█░▀▄▀
# ░▀▀▀░▀░▀░░▀░

env = EDITOR, nvim

# XDG Desktop Portal
env = XDG_CURRENT_DESKTOP, Hyprland
env = XDG_SESSION_TYPE, wayland
env = XDG_SESSION_DESKTOP, Hyprland

# Graphics card to use for hyprland
env = AQ_DRM_DEVICES,/dev/dri/card1

# QT
env = QT_QPA_PLATFORM,wayland;xcb
env = QT_QPA_PLATFORMTHEME, qt6ct
# env = QT_QPA_PLATFORMTHEME, qt5ct
env = QT_WAYLAND_DISABLE_WINDOWDECORATION, 1
env = QT_AUTO_SCREEN_SCALE_FACTOR, 1
# env = QT_STYLE_OVERRIDE, kvantum

# GTK
# env = GTK_THEME, Orchis Nord:dark
# env = GTK_THEME, Nordic
# env = GTK_THEME, Adwaita:dark

# GDK
# env = GDK_SCALE, 1.5

# Toolkit Backend
env = GDK_BACKEND,wayland,x11,*
env = CLUTTER_BACKEND,wayland

# Mozilla
# env = MOZ_ENABLE_WAYLAND, 0

# Disable appimage launcher by default
env = APPIMAGELAUNCHER_DISABLE,1

# Ozone
env = OZONE_PLATFORM, wayland
env = ELECTRON_OZONE_PLATFORM_HINT, wayland # tell electron apps (vs code) to use wayland


# ░█▀█░█░█░▀█▀░█▀█░█▀▀░▀█▀░█▀█░█▀▄░▀█▀
# ░█▀█░█░█░░█░░█░█░▀▀█░░█░░█▀█░█▀▄░░█░
# ░▀░▀░▀▀▀░░▀░░▀▀▀░▀▀▀░░▀░░▀░▀░▀░▀░░▀░

exec-once = waypaper --restore --no-post-command # will implicitly run hyprpaper
exec-once = waybar # env GTK_DEBUG=interactive waybar
exec-once = swaync # env GTK_DEBUG=interactive swaync
exec-once = swaync-client -df
exec-once = pypr
exec-once = hypridle
# Environment for xdg-desktop-portal-hyprland
exec-once = dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP # DISPLAY
exec-once = /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1


# ░█▄█░█▀█░█▀█░▀█▀░▀█▀░█▀█░█▀▄░█▀▀
# ░█░█░█░█░█░█░░█░░░█░░█░█░█▀▄░▀▀█
# ░▀░▀░▀▀▀░▀░▀░▀▀▀░░▀░░▀▀▀░▀░▀░▀▀▀

monitor = ,preferred,auto,auto


# ░▀█▀░█▀█░█▀█░█░█░▀█▀
# ░░█░░█░█░█▀▀░█░█░░█░
# ░▀▀▀░▀░▀░▀░░░▀▀▀░░▀░

input {
  kb_layout = us
  numlock_by_default = true
  mouse_refocus = false

  follow_mouse = 1
  touchpad {
    natural_scroll = false
  }
  sensitivity = 0 # Pointer speed: -1.0 - 1.0, 0 means no modification.
  force_no_accel = 1
}

gestures {
  workspace_swipe = true
}


# ░█▀▀░█░█░█▀▄░█▀▀░█▀█░█▀▄
# ░█░░░█░█░█▀▄░▀▀█░█░█░█▀▄
# ░▀▀▀░▀▀▀░▀░▀░▀▀▀░▀▀▀░▀░▀

env = XCURSOR_THEME, Nordzy-cursors
env = XCURSOR_SIZE, 24
exec-once = gsettings set org.gnome.desktop.interface cursor-theme 'Nordzy-cursors'
exec-once = hyprctl setcursor Nordzy-cursors 24


# ░█▀█░█▀█░█▀█░█▀▀░█▀█░█▀▄░█▀█░█▀█░█▀▀░█▀▀
# ░█▀█░█▀▀░█▀▀░█▀▀░█▀█░█▀▄░█▀█░█░█░█░░░█▀▀
# ░▀░▀░▀░░░▀░░░▀▀▀░▀░▀░▀░▀░▀░▀░▀░▀░▀▀▀░▀▀▀

general {
  border_size = 3
  gaps_in = 10
  gaps_out = 15
  # no_border_on_floating = true
  col.active_border = rgb($color4) rgb($color15) rgb($color4) 45deg
  col.inactive_border = rgb($color0)
  no_focus_fallback = true
  resize_on_border = true
  layout = dwindle

  snap {
    enabled = true
    window_gap = 20
    monitor_gap = 20
  }

}

# master {
#   orientation = center
# }

dwindle {
  pseudotile = false
  # force_split = 2
  preserve_split = true
  # smart_split = true
  special_scale_factor = 0.8
}

decoration {
  rounding = 10
  active_opacity = 1.0
  inactive_opacity = 0.8
  fullscreen_opacity = 1.0
  # dim_inactive = true
  dim_special = 0.5

  blur {
    enabled = true
    size = 20
    passes = 3
    new_optimizations = true
    ignore_opacity = true
    # xray = true
    popups = true
    # blurls = waybar
  }

  shadow {
    enabled = true
    range = 30
    render_power = 3
    color = rgba($color12,0.8)
    color_inactive = rgba($background,0.8)
    # offset = 3 3
  }
}

animations {
    enabled = true
    bezier = wind, 0.05, 0.9, 0.1, 1.05
    bezier = winIn, 0.1, 1.1, 0.1, 1.1
    bezier = winOut, 0.3, -0.3, 0, 1
    bezier = liner, 1, 1, 1, 1
    animation = windows, 1, 4, wind, slide
    animation = windowsIn, 1, 4, winIn, slide
    animation = windowsOut, 1, 3, winOut, slide
    animation = windowsMove, 1, 3, wind, slide
    animation = border, 1, 1, liner
    animation = borderangle, 1, 30, liner, loop
    animation = fade, 1, 5, default
    animation = workspaces, 1, 3, wind, slidevert
}

group {
  auto_group = true
  col.border_active = rgba(ff000000)
  col.border_active = rgba(ff000000)

  groupbar {
    text_color = rgb($foreground)
    col.active = rgba($color5,0.8)
    # col.active = rgba(405d7eff)
    col.inactive = rgba($background,0.8)
  }
}

misc {
  disable_hyprland_logo = true 
  disable_splash_rendering = true
  font_family = JetBrainsMono Nerd Font
  # vfr = false
  animate_manual_resizes = true
  enable_swallow = true
  swallow_regex = ^(wezterm)$
  focus_on_activate = true
}

# TODO: Finalize these settings and workspace switching keybinds
binds {
  # workspace_back_and_forth = true
  # allow_workspace_cycles = true
  movefocus_cycles_fullscreen= false
}

xwayland {
  use_nearest_neighbor = false
  force_zero_scaling = true
}

cursor {
  hide_on_key_press = true
  # no_warps = true
  persistent_warps = true
}

debug {
  # overlay = true
}

layerrule = blur, waybar
layerrule = ignorealpha 0.5, waybar
layerrule = blur, swaync-control-center
layerrule = ignorealpha 0.5, swaync-control-center
layerrule = blur, swaync-notification-window
layerrule = ignorealpha 0.5, swaync-notification-window


# ░█░█░▀█▀░█▀█░█▀▄░█▀█░█░█░░░█▀▄░█░█░█░░░█▀▀░█▀▀
# ░█▄█░░█░░█░█░█░█░█░█░█▄█░░░█▀▄░█░█░█░░░█▀▀░▀▀█
# ░▀░▀░▀▀▀░▀░▀░▀▀░░▀▀▀░▀░▀░░░▀░▀░▀▀▀░▀▀▀░▀▀▀░▀▀▀

# See https://wiki.hyprland.org/Configuring/Window-Rules/

# System Mission Center
windowrulev2 = float, class:(io.missioncenter.MissionCenter)
windowrulev2 = pin, class:(io.missioncenter.MissionCenter)
windowrulev2 = center, class:(io.missioncenter.MissionCenter)
windowrulev2 = size 900 600, class:(io.missioncenter.MissionCenter)

# Emoji Picker Smile
windowrulev2 = float,class:(it.mijorus.smile)
windowrulev2 = pin, class:(it.mijorus.smile)
windowrulev2 = move 100%-w-40 90,class:(it.mijorus.smile)

# Hyprland Share Picker
windowrulev2 = float, class:(hyprland-share-picker)
windowrulev2 = pin, class:(hyprland-share-picker)
windowrulev2 = center, title:class:(hyprland-share-picker)
windowrulev2 = size 600 400,class:(hyprland-share-picker)

# Browser Picture in Picture
$pip_x_pad = $(hyprctl getoption general:gaps_out -j | jq -r '.custom | split(" ")[1] | tonumber * 2')
windowrulev2 = float, title:^(Picture-in-Picture)$
windowrulev2 = pin, title:^(Picture-in-Picture)$
windowrulev2 = size 20% 20%, title:^(Picture-in-Picture)$
windowrulev2 = move onscreen 100%-w-30 100%-w-30, title:^(Picture-in-Picture)$
windowrulev2 = noinitialfocus, title:^(Picture-in-Picture)$

# NetworkManager Connection Editor
windowrulev2 = float, class:(nm-connection-editor)

# Bluetooth Manager
windowrulev2 = float, class:(blueberry.py)
windowrulev2 = float, class:(Overskride)

# Audio controls
windowrulev2 = float, class:(com.saivert.pwvucontrol)

# Waypaper
windowrulev2 = float, class:(waypaper)

# Settings
windowrulev2 = float, class:(nwg-look)
windowrulev2 = float, class:(nwg-displays)

# Ulauncher
windowrulev2 = float, class:(ulauncher)
windowrulev2 = noshadow, class:(ulauncher)
windowrulev2 = noborder, class:(ulauncher)
windowrulev2 = noblur, class:(ulauncher)
windowrulev2 = noanim, class:(ulauncher)

# Thunar File Operation Progress
windowrulev2 = float, class:(thunar),title:^(File Operation Progress)$

# ░▀█▀░█▀█░█▀▀░█░░░█░█░█▀▄░█▀▀
# ░░█░░█░█░█░░░█░░░█░█░█░█░█▀▀
# ░▀▀▀░▀░▀░▀▀▀░▀▀▀░▀▀▀░▀▀░░▀▀▀

# source = conf/monitors.conf
# source = conf/input.conf
source = conf/keybindings.conf
# source = conf/animations.conf
# source = conf/windowrules.conf
# source = conf/autostart.conf
# source = conf/cursor.conf
# source = conf/plugins.conf
# source = themes/kjm.conf
# source = conf/muse.conf

source = plugins/cliphist.conf
# source = plugins/hy3.conf

# Generated by nwg-displays
source = monitors.conf
source = workspaces.conf

# exec = notify-send "Hyprland reloaded"
