{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

echo ""
echo "--------------------------------------------------------------------------------"
echo "*** Yazi (Terminal File Explorer)"
echo "--------------------------------------------------------------------------------"

yay -S --noconfirm yazi ffmpeg mediainfo 7zip jq poppler fd rg fzf zoxide imagemagick wl-clipboard glow
{{- else if eq .chezmoi.os "windows" -}}
echo ""
echo "--------------------------------------------------------------------------------"
echo "*** Yazi (Terminal File Explorer)"
echo "--------------------------------------------------------------------------------"

scoop install yazi ffmpeg mediainfo 7zip jq poppler fd ripgrep fzf zoxide imagemagick glow
{{ end }}
ya pkg install
ya pkg upgrade
