{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

echo
echo "--------------------------------------------------------------------------------"
echo "*** Yazi (Terminal File Explorer)"
echo "--------------------------------------------------------------------------------"

yay -S --noconfirm yazi
{{- else if eq .chezmoi.os "windows" -}}
scoop install yazi
{{ end }}
