# yazi.toml
[mgr]
  show_hidden = true
  linemode    = "size"

[tasks]
  # image_bound = [0, 0]
  image_alloc = 1073741824 # = 1024*1024*1024 = 1024MB

[opener]
  extract = [
    { run = 'ouch d -y %*', desc = "Extract here with ouch", for = "windows" },
    { run = 'ouch d -y "$@"', desc = "Extract here with ouch", for = "unix" },
  ]

  edit = [
    { run = '${EDITOR:-vi} "$@"', desc = "$EDITOR", block = true, for = "unix" },
    { run = '%EDITOR% %*', desc = "$EDITOR", block = true, for = "windows" },
    { run = 'code %*', desc = "code", orphan = true, for = "windows" },
    { run = 'code -w %*', desc = "code (block)", block = true, for = "windows" },
  ]

[plugin]
  prepend_preloaders = [
    # Replace magick, image, video with mediainfo
    { mime = "{audio,video,image}/*", run = "mediainfo" },
    { mime = "application/subrip", run = "mediainfo" },
    # Adobe Illustrator, Adobe Photoshop is image/adobe.photoshop, already handled above
    { mime = "application/postscript", run = "mediainfo" },
  ]
  prepend_previewers = [

    # { name = "*/", run = "eza-preview" },

    { name = "*.csv", run = "rich-preview" },   # for csv files
    { name = "*.md", run = "rich-preview" },    # for markdown (.md) files
    { name = "*.rst", run = "rich-preview" },   # for restructured text (.rst) files
    { name = "*.ipynb", run = "rich-preview" }, # for jupyter notebooks (.ipynb)
    { name = "*.json", run = "rich-preview" },  # for json (.json) files
    # { name = "*.lang_type", run = "rich-preview" }, # for particular language files eg. .py, .go., .lua, etc.

    # Replace magick, image, video with mediainfo
    { mime = "{audio,video,image}/*", run = "mediainfo" },
    { mime = "application/subrip", run = "mediainfo" },
    # Adobe Illustrator, Adobe Photoshop is image/adobe.photoshop, already handled above
    { mime = "application/postscript", run = "mediainfo" },

    # { name = "*.md", run = "glow" },

    # { name = "*.ipynb", run = "nbpreview" },

    # Archive previewer
    { mime = "application/*zip", run = "ouch" },
    { mime = "application/x-tar", run = "ouch" },
    { mime = "application/x-bzip2", run = "ouch" },
    { mime = "application/x-7z-compressed", run = "ouch" },
    { mime = "application/x-rar", run = "ouch" },
    { mime = "application/vnd.rar", run = "ouch" },
    { mime = "application/x-xz", run = "ouch" },
    { mime = "application/xz", run = "ouch" },
    { mime = "application/x-zstd", run = "ouch" },
    { mime = "application/zstd", run = "ouch" },
    { mime = "application/java-archive", run = "ouch" },

  ]

  [[plugin.prepend_fetchers]]
    id   = "git"
    name = "*"
    run  = "git"

  [[plugin.prepend_fetchers]]
    id   = "git"
    name = "*/"
    run  = "git"
