[Desktop Entry]
Version=1.0
Name=Grok
Comment=Grok
Exec=launch-webapp https://grok.com
Terminal=false
Type=Application
Icon=/home/kjm/.local/share/applications/icons/Grok.png
StartupNotify=true
