[Desktop Entry]
Version=1.0
Name=Proton Drive
Comment=Proton Drive
Exec=launch-webapp https://drive.proton.me
Terminal=false
Type=Application
Icon=/home/kjm/.local/share/applications/icons/Proton Drive.png
StartupNotify=true
