{{- if eq .chezmoi.os "linux" and eq .chezmoi.osRelease.id "arch" -}}
#! /usr/bin/env bash

echo
echo "--------------------------------------------------------------------------------"
echo "*** Yay (AUR Wrapper)"
echo "--------------------------------------------------------------------------------"

yay --version || (
  echo "Installing yay..."
  sudo rm -rf /tmp/yay
  git clone https://aur.archlinux.org/yay-bin.git /tmp/yay
  cd /tmp/yay
  makepkg -si --noconfirm
)
{{- end }}
