{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

echo
echo "--------------------------------------------------------------------------------"
echo "*** Btop"
echo "--------------------------------------------------------------------------------"

yay -S --noconfirm btop rocm-smi-lib # allows collecting gpu data
{{- else if eq .chezmoi.os "windows" -}}
scoop install bottom
{{ end }}
