* {
  background-image: none;
  font-size: 24px;
}

window {
  /* background-color: transparent; */
  background-color: rgba(40,40,40,.9);
}

button {
  min-width: 200px;
  color: #c8d0e0;
  outline-style: none;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  box-shadow: none;
  text-shadow: none;
  animation: gradient_f 20s ease-in infinite;
}

button:hover, button:focus {
  font-size: 36px;
  background-size: 80%;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

#lock {
  background-image: image( url("/home/kjm/.config/wlogout/icons/lock.svg"));
}

#logout {
	background-image: image( url("/home/kjm/.config/wlogout/icons/logout.svg"));
}

#shutdown {
  background-image: image( url("/home/kjm/.config/wlogout/icons/shutdown.svg"));
}

#suspend {
	background-image: image( url("/home/kjm/.config/wlogout/icons/suspend.svg"));
}

#reboot {
  background-image: image( url("/home/kjm/.config/wlogout/icons/reboot.svg"));
}
