* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(40, 40, 40, 0.9);
}

button {
  /* display: inline-block; */
  /* width: 100px; */
  /* height: 100px; */
  margin: 10px;
  border-radius: 50%;
  border-color: black;
  text-decoration-color: #eceff4;
  color: #eceff4;
  background-color: #2e3440;
  border-style: solid;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:hover {
  background-color: #3b4252;
  outline-style: none;
}

button:focus {
  background-color: #5e81ac;
}

button:active {
  background-color: #bf616a;
}

#lock {
  background-image: image(url("icons/lock.png"));
}

#logout {
  background-image: image(url("icons/logout.png"));
}

#suspend {
  background-image: image(url("icons/suspend.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown.png"));
}

#reboot {
  background-image: image(url("icons/reboot.png"));
}
