* {
	background-image: none;
	font-size: 42px;
}

/* @import url("~/.config/waybar/theme.css"); */

window {
	background-color: transparent;
}

button {
	color: white;
	background-color: #2e3440;
	outline-style: none;
	border: none;
	border-width: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
	border-radius: 0px;
	box-shadow: none;
	text-shadow: none;
	animation: gradient_f 20s ease-in infinite;
}

button:focus {
	background-color: #5e81ac;
	background-size: 30%;
}

button:hover {
	background-color: #3b4252;
	background-size: 40%;
	border-radius: 15px;
	animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#lock {
	border-radius: 15px;
	margin: 496px 0px 496px 604px;
}

button:hover#logout {
	border-radius: 15px;
	/* margin: 496px 0px 496px 0px; */
}

button:hover#suspend {
	border-radius: 15px;
	/* margin: 496px 0px 496px 0px; */
}

button:hover#shutdown {
	border-radius: 15px;
	/* margin: 496px 0px 496px 0px; */
}

button:hover#hibernate {
	border-radius: 15px;
	/* margin: 496px 0px 496px 0px; */
}

button:hover#reboot {
	border-radius: 15px;
	/* margin: 496px 604px 496px 0px; */
}

#lock {
	background-image: image(
		url("~/.config/wlogout/icons/lock.png"),
		url("/usr/share/wlogout/icons/lock.png"),
		url("/usr/local/share/wlogout/icons/lock.png")
	);
	border-radius: 24px 0px 0px 24px;
	margin: 604px 0px 604px 604px;
}

#logout {
	background-image: image(
		url("~/.config/wlogout/icons/logout.png"),
		url("/usr/share/wlogout/icons/logout.png"),
		url("/usr/local/share/wlogout/icons/logout.png")
	);
	border-radius: 0px 0px 0px 0px;
	margin: 604px 0px 604px 0px;
}

#suspend {
	background-image: image(
		url("~/.config/wlogout/icons/suspend.png"),
		url("/usr/share/wlogout/icons/suspend.png"),
		url("/usr/local/share/wlogout/icons/suspend.png")
	);
	border-radius: 0px 0px 0px 0px;
	margin: 604px 0px 604px 0px;
}

#shutdown {
	background-image: image(
		url("~/.config/wlogout/icons/shutdown.png"),
		url("/usr/share/wlogout/icons/shutdown.png"),
		url("/usr/local/share/wlogout/icons/shutdown.png")
	);
	border-radius: 0px 0px 0px 0px;
	margin: 604px 0px 604px 0px;
}

#hibernate {
	background-image: image(
		url("~/.config/wlogout/icons/hibernate.png"),
		url("/usr/share/wlogout/icons/hibernate.png"),
		url("/usr/local/share/wlogout/icons/hibernate.png")
	);
	border-radius: 0px 0px 0px 0px;
	margin: 604px 0px 604px 0px;
}

#reboot {
	background-image: image(
		url("~/.config/wlogout/icons/reboot.png"),
		url("/usr/share/wlogout/icons/reboot.png"),
		url("/usr/local/share/wlogout/icons/reboot.png")
	);
	border-radius: 0px 24px 24px 0px;
	margin: 604px 604px 604px 0px;
}
