{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

echo
echo "--------------------------------------------------------------------------------"
echo "*** Fastfetch"
echo "--------------------------------------------------------------------------------"

yay -S --noconfirm fastfetch
{{- else if eq .chezmoi.os "windows" -}}
scoop install fastfetch
{{ end }}
