# ░█░█░█▀█░█▀▄░▀█▀░█▀█░█▀▄░█░░░█▀▀░█▀▀
# ░▀▄▀░█▀█░█▀▄░░█░░█▀█░█▀▄░█░░░█▀▀░▀▀█
# ░░▀░░▀░▀░▀░▀░▀▀▀░▀░▀░▀▀░░▀▀▀░▀▀▀░▀▀▀

$nerdFont = "JetBrainsMono Nerd Font"

# Scripts directory
$hyprScripts = ~/.config/hypr/scripts

# $mainTerminal = $weztermCommand
# $mainTerminal = wezterm start
# $mainTerminal = foot
$mainTerminal = kitty
# $scratchpadTerminal = kitty
# $tuiTerminal = alacritty

# Assign apps
$editor = nvim
$files = yazi
$altFiles = thunar
# $logout = wleave || wlogout -s -b 6 -c 0 -r 0 -m 0 --protocol layer-shell # exit
# $powermenu = wlogout -b 5 -r 0 -c 0 -s --protocol layer-shell -l ~/.config/wlogout/cosmic.layout -C ~/.config/wlogout/cosmic.style.css
$powermenu = ~/.config/rofi/scripts/powermenu_t2

# ░█▄█░█▀█░█▀█░▀█▀░▀█▀░█▀█░█▀▄░█▀▀
# ░█░█░█░█░█░█░░█░░░█░░█░█░█▀▄░▀▀█
# ░▀░▀░▀▀▀░▀░▀░▀▀▀░░▀░░▀▀▀░▀░▀░▀▀▀

monitor = ,preferred,auto,auto


# ░█░█░▀█▀░█▀█░█▀▄░█▀█░█░█░░░█▀▄░█░█░█░░░█▀▀░█▀▀
# ░█▄█░░█░░█░█░█░█░█░█░█▄█░░░█▀▄░█░█░█░░░█▀▀░▀▀█
# ░▀░▀░▀▀▀░▀░▀░▀▀░░▀▀▀░▀░▀░░░▀░▀░▀▀▀░▀▀▀░▀▀▀░▀▀▀

# See https://wiki.hyprland.org/Configuring/Window-Rules/

# System Mission Center
windowrule = match:class io.missioncenter.MissionCenter, float on, pin on, center on

# Mousam Weather App
windowrule = match:class io.github.amit9838.mousam, float on
# windowrule = size 980 720, class:(io.github.amit9838.mousam)
# windowrule = center, class:(io.github.amit9838.mousam)
# windowrule = move 0 -100%, class:(io.github.amit9838.mousam)

# Hyprland Share Picker
windowrule = match:class hyprland-share-picker, float on, pin on, center on, size 600 400

# Browser Picture in Picture
$pip_x_pad = $(hyprctl getoption general:gaps_out -j | jq -r '.custom | split(" ")[1] | tonumber * 2')
windowrule = match:title Picture-in-Picture, float on, pin on, size 20% 20%, move onscreen (monitor_w-window_w-30) (monitor_h-window_h-30), no_initial_focus on

# NetworkManager Connection Editor
windowrule = match:class nm-connection-editor, float on

# Proton VPN
windowrule = match:class protonvpn-app, float on, size 400 50%, move (monitor_w-window_w-30) 60

# Bluetooth Manager
windowrule = match:class blueberry.py, float on
windowrule = match:class Overskride, float on

# Audio controls
windowrule = match:class com.saivert.pwvucontrol, float on

# Settings
windowrule = match:class nwg-look, float on
windowrule = match:class nwg-displays, float on

# Thunar File Operation Progress
windowrule = match:class thunar,match:title (File Operation Progress), float on

# ActiveWindowInfo in nvim
windowrule = match:class ActiveWindowInfo, float on, size 600 800, center on

# Settings TUIs
windowrule = match:class dropterm|processes|wifi|bluetooth|audio|monitors, float on

# Yay/Pacman Update
windowrule = match:class update, float on, center on

# Gaming
windowrule = match:class steam_app_default, fullscreen on, idle_inhibit always

# Idle inhibit all fullscreen windows
# windowrule = match:fullscreen, idle_inhibit always


# ░▀█▀░█▀█░█▀▀░█░░░█░█░█▀▄░█▀▀
# ░░█░░█░█░█░░░█░░░█░█░█░█░█▀▀
# ░▀▀▀░▀░▀░▀▀▀░▀▀▀░▀▀▀░▀▀░░▀▀▀

# General
source = colors/wallust.conf
source = conf/env.conf
source = conf/autostart.conf
source = conf/input.conf
source = conf/cursor.conf
source = conf/appearance.conf
source = conf/keybindings.conf


# Bar
source = conf/bar/waybar.conf

# Notifications
source = conf/notification/mako.conf

# Menu
{{- if eq .chezmoi.hostname "muse" }}
source = conf/menu/rofi.conf
{{- else if eq .chezmoi.hostname "angel" }}
source = conf/menu/walker.conf
{{- end }}

# On Screen Display
source = conf/osd/swayosd.conf

# Wallpaper
source = conf/wallpaper/waypaper.conf

# Workspace binds
source = conf/workspace.conf

# Generated by nwg-displays
source = monitors.conf
{{- if eq .chezmoi.hostname "angel" }}
source = workspaces.conf
{{- end }}

# source = plugins/hyprscrolling.conf

# debug {
#   overlay = true
# }

