configuration {

  modi: "window,drun,filebrowser";

  // Keybindings
  kb-remove-to-eol: "";
  kb-accept-entry: "Return,KP_Enter";
	kb-row-down: "Down,Control+n,Control+j,Alt+j";
	kb-row-up: "Up,Control+p,Control+k,Alt+k";
}
