window-rule {
  match app-id="active-window-info"
  open-floating true
}
binds {

  SUPER+SHIFT+Y hotkey-overlay-title="Active Window Info" {
    spawn "~/.config/niri/scripts/active-window-info"
  }

}
