{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

echo
echo "--------------------------------------------------------------------------------"
echo "*** Neovim"
echo "--------------------------------------------------------------------------------"

yay -S --noconfirm neovim nodejs npm chafa imagemagick go gzip
{{- else if eq .chezmoi.os "windows" -}}
scoop install neovim nodejs chafa imagemagick go gzip
{{ end }}
