{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env bash

echo
echo "--------------------------------------------------------------------------------"
echo "*** Neovim"
echo "--------------------------------------------------------------------------------"

yay -S --noconfirm neovim nodejs npm chafa imagemagick
{{- else if eq .chezmoi.os "windows" -}}
scoop install neovim
{{ end }}
