# ░█▀▀░█░█░█▀█░█░█░█▀█░█▀▀░█▀▄
# ░▀▀█░█▄█░█▀█░░█░░█░█░▀▀█░█░█
# ░▀▀▀░▀░▀░▀░▀░░▀░░▀▀▀░▀▀▀░▀▀░

# Autostart -- use systemd unit instead
# ~/.config/systemd/user/swayosd-server.service
# exec-once = uwsm-app -- swayosd-server

# Appearance
layerrule = blur, swayosd
layerrule = ignorezero, swayosd

# Keybinds
$osdclient = swayosd-client --monitor "$(hyprctl monitors -j | jq -r '.[] | select(.focused == true).name')"
# Laptop multimedia keys for volume and LCD brightness (with OSD)
binddel = , XF86AudioMute        , Mute volume        , exec, $osdclient --output-volume mute-toggle
binddel = , XF86AudioLowerVolume , Lower volume       , exec, $osdclient --output-volume lower
binddel = , XF86AudioRaiseVolume , Raise volume       , exec, $osdclient --output-volume raise
binddel = , XF86AudioMicMute     , Mute microphone    , exec, $osdclient --input-volume mute-toggle
binddel = , XF86MonBrightnessUp  , Increase brightness, exec, $osdclient --brightness raise
binddel = , XF86MonBrightnessDown, Decrease brightness, exec, $osdclient --brightness lower
{{ if eq .chezmoi.hostname "angel" }}
binddel = , XF86MonBrightnessUp  , Increase brightness, exec, hyprctl hyprsunset gamma +10
binddel = , XF86MonBrightnessDown, Decrease brightness, exec, hyprctl hyprsunset gamma -10
{{ end }}

# Precise 1% multimedia adjustments with Alt modifier
bindeld = ALT, XF86AudioLowerVolume, Volume down precise, exec, $osdclient --output-volume -1
bindeld = ALT, XF86AudioRaiseVolume, Volume up precise, exec, $osdclient --output-volume +1
bindeld = ALT, XF86MonBrightnessUp, Brightness up precise, exec, $osdclient --brightness +1
bindeld = ALT, XF86MonBrightnessDown, Brightness down precise, exec, $osdclient --brightness -1

# Media control
binddl = , XF86AudioPlay , Play          , exec, $osdclient --playerctl play-pause
binddl = , XF86AudioPause, Pause         , exec, $osdclient --playerctl play-pause
binddl = , XF86AudioNext , Next track    , exec, $osdclient --playerctl next
binddl = , XF86AudioPrev , Previous track, exec, $osdclient --playerctl previous

